VITE_SUPABASE_URL=https://wfeygwvvvyjomyahdgrc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmZXlnd3Z2dnlqb215YWhkZ3JjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzODIwMzksImV4cCI6MjEwMzk1ODAzOX0._5X6_aUOYm6Id2S4l_67em0loXSF1qcwfR2b-B-2z_0

